.about {
    max-width: 1000px;
    margin: 0px auto;
}
.about__body {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.about__header {
    text-align: center;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.about__title {
    font-weight: 700;
    font-size: 40px;
    padding: 20px;
}
.about__text {
    font-size: 25px;
    margin: 20px 0px;
}
.about__row {
    display: flex;
}
.about__column {
    flex: 25%;
    padding: 30px;
    border: 1px solid #333;
    margin: 20px 15px;
}
.about-items {
    
}
.about-items__header {
    font-weight: 700;
    font-size: 40px;
    margin-top: 15px;
}
.btn {
    font-size: 17px;
    padding: 10px 9px;
    background-color:yellowgreen;
    border: none;
    color: white;
  
    
}
.about__footer {
    text-align: center;
    background-color: #333;
    color: #fff;
    width: 100%;
  padding: 50px;
  font-size: 30px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  margin-top:80px ;
 
}
p{
    text-transform: lowercase;
}
.btn:hover{
    cursor:pointer;
    background-color: deeppink;
}
.about__column:hover{
    background-color: palevioletred;
    color: white;
    margin:-10px 15px;

}

